{%extends 'base.html'%}
{% load static %}
{% block title %} | About me{% endblock %}


{%block content%}

<h1>My story</h1>
<div>lLorem ipsum dolor sit amet, consectetur adipiscing elit.
    Cras augue nibh, pretium non blandit pellentesque,
    tempus sed quam.
    Phasellus convallis justo eget ligula rhoncus dictum.
    Duis augue est, lacinia id ex laoreet, mattis mattis mauris. Nulla facilisi. Integer vitae ligula cursus,
    ultrices massa quis, pretium libero. Aenean iaculis leo sed lacus scelerisque, nec eleifend tortor imperdiet.
    Nunc finibus lorem sit amet ornare porttitor. Donec a odio hendrerit elit mattis ornare a at eros.
</div>
<img src="{% static 'images/covers/trener_1.jpg' %}" width="200" height="280" alt="Photo of trainer">
<div>
    <h2>Education</h2>
    lorem ipsum dolor sit amet, consectetur adipiscing elit. lorem ipsum dolor sit amet, consectetur adipiscing elit.
    lorem ipsum dolor sit amet, consectetur adipiscing elit. lorem ipsum dolor sit amet, consectetur adipiscing elit.
    ,lorem ipsum dolor sit amet, consectetur adipiscing elit. lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>
<div>
    <h2>Experience</h2>
    lorem ipsum dolor sit amet, consectetur adipiscing elit. lorem ipsum dolor sit amet, consectetur adipiscing elit.
    lorem ipsum dolor sit amet, consectetur adipiscing elit. lorem ipsum dolor sit amet, consectetur adipiscing elit.
    ,lorem ipsum dolor sit amet, consectetur adipiscing elit. lorem ipsum dolor sit amet, consectetur adipiscing elit.
<div>
    <ul>
        <li>1 cigi</li>
        <li>2 cigi</li>
        <li>3 cigi</li>
    </ul>
</div>
</div>
<img src="{% static 'images/covers/trener_2.jpg' %}" alt="Photo of trainer" width="200" height="280">
<img src="{% static 'images/covers/trener_3.jpg' %}" alt="Photo of trainer" width="200" height="280">
<img src="{% static 'images/covers/trener_4.jpg' %}" alt="Photo of trainer" width="200" height="280">
<img src="{% static 'images/covers/trener_5.jpg' %}" alt="Photo of trainer" width="200" height="280">
<img src="{% static 'images/covers/trener_6.jpg' %}" alt="Photo of trainer" width="200" height="280">
{% endblock %}





