{% extends 'base.html' %}
{% load static %}
{% block title %} | Contact{% endblock %}

{%block content%}
<h1> Contact </h1>
<h2>If you wish to contact me, you can use any of the following methods</h2>

<ul>
    <li class="social-icon"><ion-icon name="call-outline"></ion-icon> + 606 255 937</li>
    <li class="social-icon"><ion-icon name="logo-whatsapp"></ion-icon> + 606 255 937</li>
    <li class="social-icon"><ion-icon name="mail-outline"></ion-icon> trener@email.cz</li>
    <li class="social-icon"><ion-icon name="logo-instagram"></ion-icon> Trener_jak_svine</li>
</ul>

<h2>You can also use this form to contact me</h2>

CONTACT FOR PLACEHOLDER

{%endblock%}


