{% extends "base.html" %}
{% load static %}
{% block title %} | Add author{% endblock %}

{% block content %}
  <p> Name:  {{ ebook.name }} </p>
{% if ebook.cover_image %}
<img src="{{ ebook.cover_image.url }}" alt="{{ ebook.name }}" width="200" height="200">
{% else%}
<img src="{% static 'images/covers/placeholder.png' %}" alt="{{ ebook.name }}" width="200" height="200">
{% endif %}
  <p> Description:  {{ ebook.description }} </p>
  <p> Added at:  {{ ebook.created_at }} </p>
  <p> Price: {{ ebook.price_amount }} </p><p>{{ ebook.price_currency }}</p>
  <p> PDF File: {{ ebook.file }} </p>
  <p> Author: {{ ebook.ebook_author }}</p>





{% endblock %}