<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>
{% include 'navbar.html' %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>TrainBase{% block title %}{% endblock %}</title>
</head>


<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
{%include 'footer.html'%}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<!-- Script to load custom icons, which are used in contact page -->

</body>
</html>
