<ul class="navbar">
    <li><a href="{% url 'home' %}"><ion-icon name="home-outline"></ion-icon> Home</a></li>
    <li><a href="{% url 'about_me' %}"><ion-icon name="accessibility-outline"></ion-icon> About me</a></li>
    <li><a href="#"><ion-icon name="barbell-outline"></ion-icon> Workout plans</a></li>
    <li><a href="#"><ion-icon name="fast-food-outline"></ion-icon> Meal plan</a></li>
    <li><a href="{% url 'ebook_list' %}"><ion-icon name="book-outline"></ion-icon> E-books</a></li>
    <li><a href="#"><ion-icon name="book-outline"></ion-icon> Services</a></li>
    <li><a href="{% url 'contact' %}"><ion-icon name="call-outline"></ion-icon> Contact</a></li>
</ul>
