<ul class="navbar">
    <li><a href="#"><ion-icon name="home-outline"></ion-icon> Home</a></li>
            <li><a href="#"><ion-icon name="accessibility-outline"></ion-icon> About me</a></li>
            <li><a href="#"><ion-icon name="barbell-outline"></ion-icon> Workout plans</a></li>
            <li><a href="#"><ion-icon name="fast-food-outline"></ion-icon> Meal plan</a></li>
            <li><a href="#"><ion-icon name="book-outline"></ion-icon> E-books</a></li>
            <li><a href="#"><ion-icon name="build-outline"></ion-icon> Services</a></li>
            <li><a href="#"><ion-icon name="call-outline"></ion-icon> Contact</a></li>

            <div class="auth-group">
                <li><a href="#"><ion-icon name="add-circle-outline"></ion-icon> Register</a></li>
                {% if user.is_authenticated %}
                    {{ user.username }}
                {% else %}
                <li><a href="#"><ion-icon name="log-in-outline"></ion-icon> Login</a></li>
                {% endif %}
            </div>
        </ul>
